@model IEnumerable<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rotalar</h1>

<table class="table table-bordered">
    <tr>
        <th style="width:130px;">Görsel</th>
        <th>Şehir</th>
        <th>Konaklama Süresi</th>
        <th>Ücret</th>
        <th>Kapasite</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <img src="@item.DestinationImage" style="height:120px; width:120px; object-fit:cover;" />
            </td>
            <td>@item.DestinationCity</td>
            <td>@item.DestinationAccomodationDay</td>
            <td>@item.DestinationPrice</td>
            <td>@item.DestinationCapacity</td>
            <td><a href="/Admin/DestinationCQRS/GetDestinationById/@item.DestinationID" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="/Admin/DestinationCQRS/RemoveDestination/@item.DestinationID" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>
<div>
    <a href="/Admin/DestinationCQRS/CreateDestination" class="btn btn-outline-success">Yeni Rota Ekle</a>
</div>

