@model IEnumerable<GetAllDestinationQueryResult>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<h1>Rotalar</h1>

<table class="table table-bordered">
    <tr>
        <th style="width:130px;">Görsel</th>
        <th>Şehir</th>
        <th>Konaklama Süresi</th>
        <th>Ücret</th>
        <th>Kapasite</th>
        <th>Güncelle</th>
        <th>Sil</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td style="text-align: center; vertical-align: middle;">
                <img src="@item.Image" style="height:120px; width:120px; object-fit:cover;" />
            </td>
            <td>@item.City</td>
            <td>@item.DayNight</td>
            <td>@item.Price</td>
            <td>@item.Capacity</td>
            <td><a href="/Admin/DestinationCQRS/GetDestinationById/@item.Id" class="btn btn-outline-warning">Güncelle</a></td>
            <td><a href="#" class="btn btn-outline-danger">Sil</a></td>
        </tr>
    }
</table>

