@model IEnumerable<Reservation>
@{
    ViewData["Title"] = "WaitApprovalReservation";
	Layout = "~/Views/Shared/_MemberLayout.cshtml";
}

<h1>Onay Bekleyen Rezervasyonlarım</h1>

<div class="row">
	<div class="col-12">
		<div class="card">
			<div class="card-header">
				<h4 class="card-title">Onay Bekleyen Rezervasyonlarım</h4>
				<a class="heading-elements-toggle"><i class="la la-ellipsis-v font-medium-3"></i></a>
				<div class="heading-elements">
					<ul class="list-inline mb-0">
						<li><a data-action="collapse"><i class="ft-minus"></i></a></li>
						<li><a data-action="reload"><i class="ft-rotate-cw"></i></a></li>
						<li><a data-action="expand"><i class="ft-maximize"></i></a></li>
						<li><a data-action="close"><i class="ft-x"></i></a></li>
					</ul>
				</div>
			</div>
			<div class="card-content collapse show">
				<div class="card-body">
					<div class="table-responsive">
						<table class="table">
							<thead>
								<tr>
									<th>Lokasyon</th>
									<th>Kişi Sayısı</th>
									<th>Tarih</th>
									<th>Durum</th>
								</tr>
							</thead>
							<tbody>
								@foreach (var item in Model)
								{
									<tr>
										<td>@item.Destination.DestinationCity</td>
										<td>@item.ReservationVisitorCount</td>
										<td>@item.ReservationDate</td>
										<td>@item.ReservationStatus</td>
									</tr>
								}
							</tbody>
						</table>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>



@*
 Any -> Herhangibir, hiçbir
Any() metodu koleksiyonda hiç öğe olup olmadığını kontrol eder
Koleksiyon boşsa true döner (null olması gerekmez)
*@
@* @if (!Model.Any())
{
    <h2 style="color:brown">Onay Bekleyen Rezervasyonunuz Bulunamadı</h2>
}

else if (Model.Any())
{
    <table class="table table-bordered">
        <tr>
            <th>Lokasyon</th>
            <th>Kişi Sayısı</th>
            <th>Tarih</th>
            <th>Durum</th>
        </tr>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Destination.DestinationCity</td>
                <td>@item.ReservationVisitorCount</td>
                <td>@item.ReservationDate</td>
                <td>@item.ReservationStatus</td>
            </tr>
        }

    </table>
}

 *@