@model UserProfileEditViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_UserLayout.cshtml";
}

<h1>Profil Düzenle</h1>

<form method="post" enctype="multipart/form-data">
 @*enctype="multipart/form-data" ifadesini dosya yükleme için şarttır*@
    <div>
        @Html.Label("Ad")
        <input type="text" class="form-control" asp-for="Name">
    </div><br />

    <div>
        @Html.Label("SoyAd")
        <input type="text" class="form-control" asp-for="SurName">
    </div><br />

    <div>
        @Html.Label("Telefon")
        <input type="text" class="form-control" asp-for="PhoneNumber">
    </div><br />

    <div>
        @Html.Label("Mail")
        <input type="text" class="form-control" asp-for="Mail">
    </div><br />

    <div>
        @Html.Label("Şifre")
        <input type="text" class="form-control" asp-for="Password">
    </div><br />

    <div>
        @Html.Label("Şifre Onayla")
        <input type="text" class="form-control" asp-for="ConfirmPassword">
    </div>
    <div class="form-group">
        @Html.Label("Resim Seç")
        <input type="file" class="form-control" asp-for="ImageFile">
    </div>
    <div>
        <button class="btn btn-info">Bigilerimi Güncelle</button>
    </div>
</form>
