@using TravelProject.Areas.Admin.Models
@model IEnumerable<BookingHotelSeachViewModel.Result>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}



<form asp-area="Admin" asp-controller="BookingHotelSearch" asp-action="GetIdByCity" method="post" class="mb-4">
    <div class="text-center mb-3">
        <h2 class="fw-bold">🛏️ Booking Otel Rezervasyon</h2>
        <p class="text-muted">Şehir ismi girerek otel araması yapabilirsiniz. Örn: <i>Paris</i></p>
    </div>
    <div class="input-group w-50 mx-auto">
        <input type="text" name="cityName" class="form-control form-control-lg" placeholder="Şehir Giriniz 'Paris'" />
        <button type="submit" class="btn btn-info btn-lg text-white">Otel Ara</button>
    </div>
</form>

<table class="table table-striped">
    <tr>
        <th>Görsel</th>
        <th>Otel Adı</th>
        <th>Puanı( /10)</th>
        <th>Değerlendirme</th>
        <th>Uzaklık</th>
        <th>Konaklama TİPİ</th>
        <th>Tasarım</th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                <a href="@item.url">
                    <img src="@item.max_1440_photo_url" style="height:150px;width:150px;object-fit:cover;" />
                </a>
            </td>
            <td>@item.hotel_name</td>
            <td>@item.review_score</td>
            <td>@item.review_score_word</td>
            <td>@item.distances.FirstOrDefault()?.text</td>
            <td>@item.accommodation_type_name</td>
            <td>
                @Html.Raw(item.unit_configuration_label) @*@Html.Raw() -> metodu sayesinde Html içeriği aynen gösterilir örneğin: <b> 1 oda 2 yatak <b>*@
            </td>
        </tr>
    }
</table>
